{% extends 'base.html.twig' %}

{% block title %}Edit UsoVariedad{% endblock %}

{% block body %}
    <h1>Edit UsoVariedad</h1>

    {{ include('uso_variedad/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('uso_variedad_index') }}">back to list</a>

    {{ include('uso_variedad/_delete_form.html.twig') }}
{% endblock %}
