{% extends 'base.html.twig' %}

{% block title %}New Envase{% endblock %}

{% block body %}
    <h1>Create new Envase</h1>

    {{ include('envase/_form.html.twig') }}

    <a href="{{ path('envase_index') }}">back to list</a>
{% endblock %}
