<form method="post" action="{{ path('variedad_delete', {'id': variedad.id}) }}" onsubmit="return confirm('¿Está seguro de que quiere eliminar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ variedad.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
