{% extends 'base.html.twig' %}

{% block title %}New CicloYSiembra{% endblock %}

{% block body %}
    <h1>Create new CicloYSiembra</h1>

    {{ include('ciclo_y_siembra/_form.html.twig') }}

    <a href="{{ path('ciclo_y_siembra_index') }}">back to list</a>
{% endblock %}
