{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<!-- Api Google Maps -->
   <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClvVplVbPc6b97lDPhEsZm7BKqVLi5IS0&libraries=&v=weekly"
    ></script>
	<!-- Importamos mapa.js -->
	<script src="{{ asset('js/mapa.js') }}" defer></script>



{% endblock %}

{% block body %}
	<div class="tittle-who space-t">
		<h1>
			Mapa de Semillas
		</h1>
	</div>
<div class="section-body">
	<div class="main__secc space-t bg-bubble" style="background-color: peachpuff;">
	{# Select simple para seleccionar el a침o de las entrads y salidas que se quieren 
	ver en el mapa #}
		<select id="selectYear" onChange="selectedYear()">
			<option value="selecci칩n"> Seleccion un a침o</option>
			<option value="2020">2020 </option>
			<option value="2021"> 2021</option>
			<option value="2022"> 2022</option>
		</select>
		{# Div necesario para colocar el mapa de Google Maps. Si se quiere saber m치s revisar 
		la doc de la Api #}
		<div id="map"></div>		
	</div>
</div>

{% endblock %}
