{# templates/form/imagetype_field.html.twig #}
{% form_theme form 'forms/imagetype_field.html.twig' %}
{% block imagetype_widget %}
{{ dump(form.vars.prototype.children.imagen) }}

    <div>holaldsds</div>


    {{ form_widget(form) }}




{% endblock %}

