<form method="post" action="{{ path('entrada_delete', {'id': entrada.id}) }}" onsubmit="return confirm('¿Está seguro de que quiere eliminar este elemento?');" class="float-right">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entrada.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
