{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

{# <h3>Lo has conseguido! Te has registrado!</h3> #}

Hi {{ name }}! You're successfully registered.

{# example, assuming you have a route named "login" {{ url('login') }} #}
To login, go to: <a href="https://127.0.0.1:8000/login">Register</a>.

Thanks! 
{% endblock %}