{% extends 'base.html.twig' %}

{% block body %}

	<div class="tittle-who space-t">
		<h1>
			¿Cómo funcionamos?
		</h1>
	</div>

<div class="section-body">
	<div id="home-impression-rgcs">
		<img src="images/img/slider2.PNG" alt="Socios tierra fertil">
	</div>


	<div class="con text bg-bubble space-t">
		<div>
			<h2>
				Introducción
			</h2>

			<p>
				<br>
				La Red de semillas no es una tienda, necesitamos tu apoyo para la pervivencia de la RGCS y su
				        labor. Para
				        optar a semillas de la Red deberás asociarte a Tierra Fértil. Te contamos toda la información de los
				        tipos de socixs, sus ventajas y compromisos aquí: (Sección - Info para hacerse Soci@), Ver más abajo</p>

		</div>
	</div>

	<div class="con text bg-bubble space-t">
		<div>
			<h2>
				Condiciones para optar a los sistemas de obtención de semillas.
			</h2>
			<a class="link-color-text" href="https://www.tierra-fertil.es/wp-content/uploads/2020/10/D%C3%ADptico-Informaci%C3%B3n-Sistemas-Obtenci%C3%B3n-Semillas-Red-Gran-Canaria-de-Semillas.pdf">
				<br>
				Link al flyer
			</a>
			<p><br>
				<b>
					Condiciones Generales:
				</b>
				<br><br>
				- Ser socixs de Tierra Fértil.
				<br>
				<br>
				<b>
					Condiciones -Si obtienes semillas de la RGCS te comprometes a:
				</b>
				<br>
				<br>
				- No vender, ceder o comercializar de ninguna manera el material cedido en primera
				        instancia.<br><br>
				- No registrar las variedades cecidas.<br><br>
				- No aplicar ningún tipo de Derecho de Propiedad Intelectual o Industrial a ninguno de los recursos
				        fitogenéticos obtenidos en primera instancia a través de la RGCS, ni de multiplicaciones o mejoras
				        posteriores realizadas con el mismo.
				<br>
				<br>
				- No realizar mejoras genéticas con procesos fuera del ámbito natural.
				<br>
				<br>
				<b>
					Condiciones -Si das semillas a la RGCS te comprometes a:
				</b>
				<br>
				<br>
				- Que éstas procedan de plantas sanas y que estén limpias de otras semillas, piedras y granos
				        enfermos o
				        partidos.
				<br>
				<br>
				- Secarlas y conservarlas en botes de cristal o en su defecto envases con cierre apropiado, no
				        mezclandolas con el resto de variedades o producciones.<br>
				<br>
				- Aportar el máximo de información de la variedad o variedades que se entregan.<br>
				<br>
			</p>

		</div>
	</div>

	<div class="con text bg-bubble space-t">
		<div>
			<h2>
				INFO PARA HACERSE SOCIX
			</h2>

			<p>
				<br>
				Aprovechamos la ocasión para agradecerte el interés por formar parte de Tierra Fértil.<br><br>

				Para registrarte como soci@, tanto numerari@ como usuari@, debes completar dos pasos:<br><br>

				1. Rellenar el
				<a class="link-color-text" href="https://docs.google.com/forms/d/e/1FAIpQLSezeHfhsbUJyFugPeITOxeCwKlRnicS9c40ed9cUPBQKU73Dw/viewform?usp=sf_link">
					siguiente formulario</a>, sabemos que es un poco extenso, pero para nosotras es importante
					        generar una buena base de datos, especialmente para el seguimiento de las semillas.<br><br>
				2. Hacer el pago de tu cuota al siguiente número de cuenta: ES70 1491 0001 2730 0010 0299 poniendo en
				        concepto tu nombre y el tipo de soci@: (ejemplo1: Antonio García numerario; ejemplo2: Antonio García
				        usuario ampliado 10 sobres).
				<br><br>

				En
				<a class="link-color-text" href="https://drive.google.com/file/d/1nFc20uE1Lyk1TIuoZ_dnB6OQE6IfXmH7/view?usp=sharing">
					este
					          enlace</a>
				podrás ver la información desglosada de los dos tipos de soci@s para que puedas ver con
				        detalle las condiciones de cada uno. La ampliación de cuota se puede realizar en cualquier momento, no
				        es necesario hacerla al inscribirte, eso sí, en el caso de lxs socix numerarixs, la fecha para el plazo
				        anual será la del pago de la cuota de 120€.
				<br><br>

				Leyenda de tipos de soci@s del enlace anterior:<br>
				RGCS = Red Gran Canaria de Semillas<br>
				SOS = Sistemas de obtención de semillas (<a class="link-color-text" href="https://www.tierra-fertil.es/wp-content/uploads/2020/10/D%C3%ADptico-Informaci%C3%B3n-Sistemas-Obtenci%C3%B3n-Semillas-Red-Gran-Canaria-de-Semillas.pdf">Más información en el siguiente enlace</a>).<br><br>

				Una vez realices ambos pasos, tendrás que pasar por la sede para firmar la ficha física de protección de
				        datos y recoger tu carnet. Para asegurar que encontrarás a alguien para recibirte, necesitamos que
				<a href="https://calendly.com/tierra-fertil" class="link-color-text">
					concretes una cita
				</a>, puedes
				        pedirla a través del
				<a class="link-color-text" href="https://calendly.com/tierra-fertil">siguiente
					          enlace</a>.
					        Si tienes alguna duda, estaremos encantadas de resolverla.<br><br>

				Un saludo..<br>
				El equipo de Tierra Fértil
			</p>

		</div>
	</div>
</div>
{% endblock %}
