{% extends 'base.html.twig' %}

{% block title %}New Instituciones{% endblock %}

{% block body %}
    <h1>Create new Instituciones</h1>

    {{ include('instituciones/_form.html.twig') }}

    <a href="{{ path('instituciones_index') }}">back to list</a>
{% endblock %}
