<form method="post" action="{{ path('donante_delete', {'id': donante.id}) }}" onsubmit="return confirm('¿Está seguro de que quiere eliminar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ donante.id) }}">
    <button class="btn">Eliminar</button>
</form>
