{% extends 'base.html.twig' %}

{% block title %}New Donante{% endblock %}

{% block body %}
    <h1>Create new Donante</h1>

    {{ include('donante/_form.html.twig') }}

    <a href="{{ path('donante_index') }}">back to list</a>
{% endblock %}
